.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px
}

.inputs>input {
  font-size: 25px;
  padding: 10px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form>button {
  height: 40px;
  /* width:200px; */
  width: 340px;
  border: none;
  border-radius: 5px;
  background-color: #23b9ff;
  border: 1px solid white;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s
}

.form>button:hover {
  color: #23b9ff;
  border: none;
  background-color: #fff;
}

details {
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}

button:disabled {
  background-color: #72bce1;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #72bce1;
}

.main {
  /* background-color: #23b9ff;
   */
  background: rgb(249, 249, 249);
  background: linear-gradient(90deg, rgba(249, 249, 249, 1) 0%, rgba(162, 225, 255, 1) 17%, rgba(35, 185, 255, 1) 80%);
  min-height: calc(100vh - 81px);
}

.todos {
  margin-top: 50px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}

.todobox {
  background-color: yellow;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}

.todoTitle {
  text-decoration: line-through;
}

.icons {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.todobox>.check {
  padding: 18.5px 15px;
}

.todobox>.checked {
  background-color: rgb(119, 170, 17)
}

.todobox>.checked:hover {
  background-color: rgb(71, 100, 12);
  transition: 300ms
}


.todobox>.check:not(.checked):hover {
  background-color: #23b9ff;
  transition: 300ms
}

.icons>a {
  flex: 0.5;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;

}

.icons>a>.fa-pen-to-square {
  height: 1em;
}

.icons>.deleteIcon {
  flex: 0.5;
  padding: 18.5px 20px;
  height: 1em;
  /* height: 100%; */
  color: black;
  font-weight: bold;
}

.icons>a:hover {
  background-color: darkgreen;
  color: rgb(255, 255, 0);
  transition: 200ms;
}

.icons>.deleteIcon:hover {
  background-color: red;
  color: rgb(255, 255, 0);
  transition: 200ms;
}

.todobox>a {
  flex: 1;
  text-decoration: none;
  color: black
}

.todobox>a>p {
  flex: 1;
  margin: 0;
  padding: 15px;
}

.todobox>a>p:hover {

  background-color: rgb(226, 226, 3)
}